html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Courier New', Courier, monospace;

    display: flex;
    justify-content: center;
}

.hud-element {
    position: absolute;
}

.gui {
    position: absolute;
}



#sensor {
    left: 0px;
    top: 0px;
    display: none;
}

#paused {
    left: 320px;
    top: 240px;
    display: none;
}

#info {
    left: 510px;
    top: 50px;
}
