:root {
    --color: rgba(255, 255, 255, 0.6);
}

html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    /* 
    font-family: "Courier New", Courier, monospace; 
    font-weight: 600;
    
    */
    font-family: Tahoma;
}

span {
    display: inline;
}

.gui {
    position: absolute;
}

.gui-img {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#paused {
    display: none;
}

#sensor {
    display: none;
}

#text {
    background-color: var(--color);
    padding: 10px;
}

#info {
}

#help {
    background-color: var(--color);
    padding: 10px;
    display: none;
}

.help {
    border: 1px solid black;
}

table.help td {
    border: 1px solid black;
}

table.sensor-table {
}

table.sensor-table td {
}

table.sensor-table td:nth-child(1) {
    padding-right: 20px;
    text-align: left;
}

table.sensor-table td:nth-child(2) {
    text-align: right;
}
