:root {
    --color: rgba(255, 255, 255, 0.6);
}

html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

span {
    display: inline;
}

.gui {
    position: absolute;
}

.gui-img {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#paused {
    display: none;
}

#sensor {
    display: none;
}

#text {
    background-color: var(--color);
    padding: 10px;
}

#info {
}

#help {
    background-color: var(--color);
    padding: 10px;
    display: none;
}

table,
th,
td {
    border: 1px solid black;
}
