:root {
    --light-grey: #818181;
}

body {
    width: 50%;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

header {
    margin-top: 10vh;
}

a {
    color: inherit;
    text-decoration: none;
}

header h1 {
    margin: 0;
}

header p {
    color: var(--light-grey);
    margin: 0;
}

section {
    margin-top: 7vh;
}

small {
    color: var(--light-grey);
}

small a {
    color: inherit;
}

@media only screen and (max-width: 600px) {
    body {
        width: 80%;
    }
}
